<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jkljl">
    
    <update id="updateById">
        update t_car set car_num=#{}, brand=#{}, guide_price=#{}, produce_time=#{}, car_type=#{} where id=#{id}
    </update>
    
    <delete id="deleteById">
        delete from t_car where id = #{id}
    </delete>

    <insert id="insertCar">
        <!--
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type)
        value(null,#{k1},#{k2},#{k3},#{k4},#{k5})
        -->
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type) values(null,#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>
<!--    <delete id="">-->

<!--    </delete>-->
<!--    <update id=""></update>-->
<!--    <select id=""></select>-->


</mapper>