<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jkljl">

    <resultMap id="carResultMap" type="com.sancheck.mybatis.pojo.Car">
        <id property="id" column="id"/>
        <result property="carNum" column="car_num" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brand" column="brand"/>
        <result property="guidePrice" column="guide_price"/>
        <result property="produceTime" column="produce_time"/>
        <result property="carType" column="car_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectAll" resultType="carResultMap">
        select id, car_num as carNum, brand, guide_price as guidePrice, produce_time as produceTime, car_type as carType from t_car

    </select>
    
    <select id="selectById" resultType="com.sancheck.mybatis.pojo.Car">
        select id, car_num as carNum, brand, guide_price as guidePrice, produce_time as produceTime, car_type as carType  from t_car where id=#{id}
    </select>
    
    <update id="updateById">
        update t_car set car_num=#{carNum}, brand=#{brand}, guide_price=#{guidePrice}, produce_time=#{produceTime}, car_type=#{carType} where id=#{id}
    </update>
    
    <delete id="deleteById">
        delete from t_car where id = #{id}
    </delete>

    <insert id="insertCar">
        <!--
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type)
        value(null,#{k1},#{k2},#{k3},#{k4},#{k5})
        -->
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type) values(null,#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>
<!--    <delete id="">-->

<!--    </delete>-->
<!--    <update id=""></update>-->
<!--    <select id=""></select>-->


</mapper>